body {
  margin: 0;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9
}

.flex {
  display: flex;
}

#header {
  border-bottom: 1px solid seashell;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  z-index: 10;
  background-color: black;
}

 a {
   color: seashell;
   padding-left: 10px;
   padding-right: 10px;
 }

 #header img {
   height: 50px;
   padding-left: 10px;
}

.container {
  position: relative;
  top: 69px;
  flex-direction: column;
  align-items: center;
}

#mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

#mission .content {
  background-color: black;
  position: relative;
  top: 250px; /*check if there is a better way to set the relative position, maybe use percentage*/
}

#featured {
  flex-direction: column;
  align-items: center;
  width: 1000px;
  padding-top: 50px;
}

#options {
  flex-wrap: wrap;
  justify-content: center;
}

.option img {
  width: 300px;
  height: 200px;
  padding: 10px 15px; /*maybe can use percentage for spacing*/
}

h4 {
  padding: 10px 10px;
  margin: 0;
}

h2 {
  margin: 0;
  padding-top: 10px;
}

#locations {
  margin-top: 50px;
  padding-top: 50px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  flex-direction: column;
}

.threelocations {
  position: relative;
  top: 15px;
  justify-content: center;
}

.location {
  opacity: 1;
  width: 300px;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  padding: 10px 10px;
}

#contact {
  height: 200px;
}

/*look at positioning*/
.copyright {
  margin: 20px 20px;
  display: block;
  text-align: left;
  padding-top: 50px;
}
